<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product app</title>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/cart.css">
    <!--<link rel="stylesheet" type="text/css" heref="style.css">-->
    <link rel="stylesheet" href="/assets/css/productpage.css">
    <script src="/assets/js/components/cart.js"></script>
    <script src="/assets/js/components/navbar.js"></script>
    <script src="/assets/js/components/footer.js"></script>
    <script src="/assets/js/components/productpage.js"></script>
</head>

<div id="app">

    <body>
        <div class="header">

            <shopping-cart ref="cartComponent"></shopping-cart>

            <nav-comp></nav-comp>
            <img src="assets/images/logo.png" alt="logo">
        </div>



        <div class="container" id="product-section">
            <div class="row">

                <div class="col-md-6">


                    <div class="img-hover-zoom">



                        <img src="assets/images/Tshirts.png" class="card-img-top" alt="Skeleton">
                    </div>



                </div>






                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 span class="label label-primary">Skeleton</h1>






                            <h2 span class="price">€19,99</h2></span></h2>

                            <p class="card-text" v-if="inventory > 10">In Stock</p>
                            <p class="card-text" v-else-if="inventory<=10 && inventory > 0"> Almost sold out </p>
                            <p class="card-text" v-else>Out of Stock</p>

                            <!--<button a href="#" v-on:click="addToCart">Add to cart</button>-->


                            <p class="description">
                                Men's T-shirt. We will print the product for you after you place the order.
                                A t-shirt with an awesome design for a night out or just hanging out with friends!
                            </p>

                            <ul>
                                <li v-for="detail in details">{{ detail }}</li>
                            </ul>

                            <p>
                                <a href="#" class="btn btn-primary" v-on:click="addToCart">Add to Cart</a>


                            </p>

                            <span>Available colors</span>
                            <div class="colors"> <span></span> <span></span> <span></span> <span></span>
                            </div>

                        </div>

                        <div class="cart">
                            <p>Cart({{cart}})</p>
                        </div>











                        <div class="row">
                            <div class="col-md-3">
                                <span class="sr-only">Four out of Five Stars</span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="label label-success">61</span>
                            </div>
                            <div class="col-md-3">
                                <span class="monospaced">Write a Review</span>
                            </div>
                        </div>







                    </div>

                </div>









            </div>



        </div>


        <footer-comp></footer-comp>

    </body>
</div>















<script src="assets/js/app.js"></script>
<script src="assets/js/proof.js"></script>




</html>